In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\saurabh\Desktop\pandas-profiling\car_data.csv")

In [4]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [6]:
df.columns = ['Buying', 'Maint', 'Doors','Persons','LugBoot','Safety','Evaluation']

In [7]:
df.head()

  Buying  Maint Doors Persons LugBoot Safety Evaluation
0  vhigh  vhigh     2       2   small    med      unacc
1  vhigh  vhigh     2       2   small   high      unacc
2  vhigh  vhigh     2       2     med    low      unacc
3  vhigh  vhigh     2       2     med    med      unacc
4  vhigh  vhigh     2       2     med   high      unacc

In [8]:
import pandas_profiling

In [9]:
eda_report = pandas_profiling.ProfileReport(df)
eda_report.to_file('df.html')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=21.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…